:root {
    font-family: 'Quicksand', sans-serif;
    --primary-color: #a7abe6;
    --secondary-color: #552A72;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-color: #a2cff3;
    max-width: 960px;
    border-radius: 8px;
    margin: 0 auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.center-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #cccfff;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hide {
    display: none;
}

.buttons {
    font-family: inherit;
    color: var(--secondary-color);
    padding: 12px;
    font-weight: 900;
    background-color: white;
}

#user-input {
    font-family: inherit;
    padding: 12px;
    color: var(--secondary-color);
}

#user-inpu:focus {
    border: 2px solid var(--secondary-color);
}