:root {
    font-family: 'Quicksand', sans-serif;
    --primary-color: #f18685;
    --secondary-color: #d4f4cd;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    max-width: 760px;
    border-radius: 8px;
    margin: 0 auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.center-container {
    max-width: 760px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--secondary-color);
}

.hide {
    display: none !important;
}

.buttons {
    font-family: inherit;
    padding: 12px;
    font-weight: 900;
    background-color: #f3f3f3;
    border-radius: 8px;
    border-color: var(--secondary-color);

}

#user-input {
    font-family: inherit;
    padding: 12px;
    border-radius: 8px;
}

.style-previous-answers {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #f18685;
    max-width: 760px;
    margin: 0 auto;
    font-size: 1.3rem;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.5rem;
}

#review-btn {
    width: 8rem;
    border-color: var(--primary-color);
}